.game {
  border: 1px solid black;
  width: 1200px;
  margin: 10px auto 0;
}

.game__box {
  border: 1px solid black;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.game__header {
  font-size: 40px;
  margin: 10px 0;
}

.rules__box {
  border: 1px solid black;
}

.rules__header {
  display: block;
  font-size: 30px;
  padding-bottom: 15px;
}

.rules__contents {
  display: block;
}

.rules__contents_off {
  display: none;
}

.rules__content {
  font-size: 20px;
  margin: 0;
  padding: 5px 0 5px 0;
}

.rules__option {
  display: block;
  font-size: 25px;
  padding: 20px;
}

.timer {
  border: 1px solid black;
  width: 600px;
  margin: 20px auto;
  text-align: center;
}

.timer__header {
  cursor: pointer;
  font-size: 24px;
}

.timer__text {
  font-size: 20px;
}

.table {
  outline: 1px solid black;
  margin: auto;
  padding: 20px;
}

.table__row {
  border: 1px solid blue;
}

.table__item {
  width: 70px;
  height: 70px;
  border: 1px solid green;
  text-align: center;
  font-size: 18px;
  background-color: wheat;
}

.table__item:hover {
  background-color: floralwhite;
  cursor: pointer;
}

.table__item_succes {
  background-color: rgb(20, 210, 20);
}

.table__item_fail {
  background-color: red;
}

.game__texts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 600px;
  justify-content: space-between;
}

.game__text {
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  width: 615px;
}

.result__button {
  width: 200px;
  height: 100px;
  border-radius: 20px;
  margin-left: 30px;
  cursor: pointer;
}

.result__button:hover {
  background-color: floralwhite;
}

.result__texts {
  margin: 0 auto;
  text-align: center;
  width: 615px;
}

.result__text {
  border: 1px solid black;
  margin: 0;
  padding: 20px;
  font-size: 22px;
  font-weight: 500;
}
