.table {
  outline: 1px solid black;
  margin: auto;
}

.table__row {
  border: 1px solid blue;
}

.table__column {
  width: 65px;
  height: 65px;
  border: 1px solid green;
  text-align: center;
}

.clickOn {
  background-color: green;
}

.task__header {
  text-align: center;
  font-size: 30px;
}

.task__answer {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.succes {
  background-color: green;
}

.fail {
  background-color: red;
}

.task__zone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.task__button {
  width: 200px;
  height: 100px;
  border-radius: 20px;
  margin-left: 150px;
}
